/* Loading Screen start */
#preloader {
  display: flex;
  background: #000 url(../img/favicon/giphy.gif) no-repeat center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  margin: 0 auto;
}

.test {
    display: none;
}
/* Loading Screen end */